# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this course we are able to create a Jupyter Notebook and get in hands with RStudio Code and various Environment like Anaconda and GitHub Repository.  
**Objective:**
- MATLAB
- SQL
- R
- Python

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. Matplotlib
4. SciPyborn:

| Data Science Tools  |
| -------------|
| RStudio |
| Apache Hadoop |
| Git (version control) |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [10]:
print((3*4)+5)

17

This will convert 200 minutes to hours by diving by 60.

In [13]:
print(200/60)

3.3333333333333335

## Author
Shreyan Das